<a href="https://colab.research.google.com/github/woo2201/ColabDrive/blob/reservior/ColabTest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive 
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
cd /content/gdrive/MyDrive/dataset

/content/gdrive/MyDrive/dataset

In [ ]:
import numpy as np
import scipy as sp
import pandas as pd
import os
import glob

In [ ]:
path = "/content/gdrive/MyDrive/dataset/competitive-data-science-predict-future-sales/"
filenames = glob.glob(path + "*.csv")
data = [var.split('.')[0].split('/')[6] for var in filenames]

# dynamically allocate df names.
for name in zip(filenames, data):
    loc = list(name)[0]
    val = list(name)[1]
    globals()[val] = pd.read_csv(loc)

In [ ]:
item_categories.head()

        item_category_name  item_category_id
0  PC - Гарнитуры/Наушники                 0
1         Аксессуары - PS2                 1
2         Аксессуары - PS3                 2
3         Аксессуары - PS4                 3
4         Аксессуары - PSP                 4

In [ ]:
shops.head()

                        shop_name  shop_id
0   !Якутск Орджоникидзе, 56 фран        0
1   !Якутск ТЦ "Центральный" фран        1
2                Адыгея ТЦ "Мега"        2
3  Балашиха ТРК "Октябрь-Киномир"        3
4        Волжский ТЦ "Волга Молл"        4

In [ ]:
sales_train.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [ ]:
shops.head()

                        shop_name  shop_id
0   !Якутск Орджоникидзе, 56 фран        0
1   !Якутск ТЦ "Центральный" фран        1
2                Адыгея ТЦ "Мега"        2
3  Балашиха ТРК "Октябрь-Киномир"        3
4        Волжский ТЦ "Волга Молл"        4

In [ ]:
items.head()

                                           item_name  item_id  item_category_id
0          ! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.)         D        0                40
1  !ABBYY FineReader 12 Professional Edition Full...        1                76
2      ***В ЛУЧАХ СЛАВЫ   (UNV)                    D        2                40
3    ***ГОЛУБАЯ ВОЛНА  (Univ)                      D        3                40
4        ***КОРОБКА (СТЕКЛО)                       D        4                40

In [ ]:
data

['items',
 'item_categories',
 'sales_train',
 'shops',
 'sample_submission',
 'test']

In [ ]:
df = sales_train.merge(
        items,
        left_on = 'item_id',
        right_on = 'item_id',
        how = 'left').merge(
                            item_categories,
                            left_on = 'item_category_id',
                            right_on = 'item_category_id',
                            how = 'left'
                            ).merge(
                                    shops,
                                    left_on = 'shop_id',
                                    right_on = 'shop_id',
                                    how = 'left'
                                    )

In [ ]:
df.head(10)

         date  ...               shop_name
0  02.01.2013  ...  Ярославль ТЦ "Альтаир"
1  03.01.2013  ...     Москва ТРК "Атриум"
2  05.01.2013  ...     Москва ТРК "Атриум"
3  06.01.2013  ...     Москва ТРК "Атриум"
4  15.01.2013  ...     Москва ТРК "Атриум"
5  10.01.2013  ...     Москва ТРК "Атриум"
6  02.01.2013  ...     Москва ТРК "Атриум"
7  04.01.2013  ...     Москва ТРК "Атриум"
8  11.01.2013  ...     Москва ТРК "Атриум"
9  03.01.2013  ...     Москва ТРК "Атриум"

[10 rows x 10 columns]

In [ ]:
df = df.drop(['item_name', 'item_category_name','shop_name'], axis = 1)\
       .sort_values(by = 'date')\
       .reset_index(drop = True)

In [ ]:
df