<a href="https://colab.research.google.com/github/woo2201/sampleCases/blob/reservior/comment_analysis_Redo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Loading

In [ ]:
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
cd /content/gdrive/MyDrive/dataset/jigsaw-toxic-severity-rating/

/content/gdrive/MyDrive/dataset/jigsaw-toxic-severity-rating

In [ ]:
import numpy as np
import scipy as sp
import pandas as pd
import os
import glob

from sklearn.ensemble import RandomForestRegressor
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import Ridge, LinearRegression
from sklearn.pipeline import Pipeline

In [ ]:
path = "/content/gdrive/MyDrive/dataset/jigsaw-toxic-severity-rating/"
filenames = glob.glob(path + "*.csv")
data = [var.split('.')[0].split('/')[-1] for var in filenames]

In [ ]:
# dynamically allocate df names.
for name in zip(filenames, data):
    loc = list(name)[0]
    val = list(name)[1]
    globals()[val] = pd.read_csv(loc)

In [ ]:
data

['train',
 'test',
 'test_labels',
 'comments_to_score',
 'sample_submission',
 'validation_data']

데이터를 쭉 불러온다 ~ !

# EDA 및 데이터 체크

In [ ]:
train.head(3)

                 id  ... identity_hate
0  0000997932d777bf  ...             0
1  000103f0d9cfb60f  ...             0
2  000113f07ec002fd  ...             0

[3 rows x 8 columns]

In [ ]:
combined_test = test.merge(
    test_labels,
    right_on = 'id',
    left_on = 'id',
    how = 'left'
); combined_test.sample(5)

                     id  ... identity_hate
24093  2831a6c8d262ae5c  ...            -1
38256  3f82502fdcbde35a  ...             0
48840  5116a17861b7fbe1  ...            -1
76929  804eb2a0526d6ded  ...            -1
96085  a0488dd58c4f25b4  ...            -1

[5 rows x 8 columns]

In [ ]:
validation_data.sample(3)

       worker  ...                                         more_toxic
8433      587  ...   LOL PWNT \n\nPLEASE BLOCK THIS IP INDEF, YOU ...
8424      150  ...   Note to self \n\nI'm putting this here so tha...
27743      42  ...                huh \n\ngo lick ur moms fuckhole

[3 rows x 3 columns]

In [ ]:
comments_to_score.sample(3)

      comment_id                                               text
3434   193902744  Do you like furry animals? Bye.   \nNot exactl...
4916   281008635  On account of the project deciding to ignore h...
7451   497191419  "\n\n Admins and cowards \nThe fact is admins ...

['다혜', '지금', '뭐해']