<a href="https://colab.research.google.com/github/woo2201/ColabDrive/blob/reservior/JobMarket_visualization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
cd /content/gdrive/MyDrive/dataset/JobMarket/

/content/gdrive/MyDrive/dataset/JobMarket

In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from urllib.request import urlopen
from urllib.error import HTTPError
from bs4 import BeautifulSoup
import requests
import lxml
import re
import html
import urllib

In [4]:
pip install konlpy

Collecting konlpy
  Downloading konlpy-0.6.0-py2.py3-none-any.whl (19.4 MB)
     |████████████████████████████████| 19.4 MB 5.6 MB/s
Requirement already satisfied: lxml>=4.1.0 in /usr/local/lib/python3.7/dist-packages (from konlpy) (4.2.6)
Requirement already satisfied: numpy>=1.6 in /usr/local/lib/python3.7/dist-packages (from konlpy) (1.19.5)
Collecting JPype1>=0.7.0
  Downloading JPype1-1.3.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (448 kB)
     |████████████████████████████████| 448 kB 57.2 MB/s
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from JPype1>=0.7.0->konlpy) (3.10.0.2)
Installing collected packages: JPype1, konlpy
Successfully installed JPype1-1.3.0 konlpy-0.6.0

In [5]:
from konlpy.tag import Okt
okt = Okt()

링크 : http://comp.fnguide.com/SVO2/ASP/SVD_UJRank.asp

해당 링크에는 500대 한국 기업의 전반적인 재무재표성 데이터가 있습니다.
상위 500개 기업을 나열해서, 매출액 및 자산규모/매출액과 채용 규모 및 만족도에 어떠한 관계가 있는지 살펴보려 합니다.

1. 우리의 고용자가 될 수 있는 500대 기업의 정보에 대해 긁어옵니다.
물론 더욱 다양한 기업들이 있습니다만, 많은 구직자들이

In [6]:
companies = pd.read_csv('companyInfo.csv')

In [7]:
companies.loc[2, '종목명'] = '한국전력공사'

In [33]:
class infoParser:
    def __init__(self, company):
        self.company = company
        try:
            self.html = urlopen("https://www.teamblind.com/kr/company/" + urllib.parse.quote(str(self.company)))  
            self.bsObject = BeautifulSoup(self.html, "html.parser", from_encoding='utf-8')
        except urllib.error.HTTPError as err:
            pass     

    def description(self):
        try:
            val = self.bsObject.find('div', {"class":"desc all"}).text
        except AttributeError as e:
            return None
        return val

    def overallRating(self):
        try:
            val = self.bsObject.find('span', {"class" : "star"}).text
        except AttributeError as e:
            return None
        return val

    def individualStar(self):
        try:
            val = [float(i.text) for i in self.bsObject.find_all('strong',{'class' : "star"})]
        except AttributeError as e:
            return None
        return val
    
    def reviewCount(self):
        try:
            val = self.bsObject.find('em',{'class' : "count"}).text
        except AttributeError as e:
            return None
        return val

    def industryCategory(self):
        try:
            val = self.bsObject.select_one('#wrap > section > div > div > div.cpctw.cpovw > div > div > div > section.overview > ul > li:nth-of-type(2)').text
        except AttributeError as e:
            return None
        return val 

    def companyLocation(self):
        try:
            val = self.bsObject.select_one('#wrap > section > div > div > div.cpctw.cpovw > div > div > div > section.overview > ul > li:nth-of-type(3)').text
        except AttributeError as e:
            return None
        return val 
        
    def reviewText(self):
        try:
            self.html = urlopen("https://www.teamblind.com/kr/company/" + urllib.parse.quote(str(self.company)) + '/reviews')  
            self.bsObject = BeautifulSoup(self.html, "html.parser", from_encoding='utf-8')
            val = self.bsObject.select_one('#wrap > section > div > div > div.cpctw > div > div > div > div > section:nth-of-type(2) > div.review_all > div:nth-of-type(1) > div > div.review_item_inr').text.split('  장점')[-1]
        except (AttributeError, HTTPError) as e:
            return None
        return val

In [34]:
df = pd.DataFrame({'company' : [],
                   'description': [],
                   'overallRating': [],
                   'individualStar' : [],
                   'reviewCount': [],
                   'industryCat': [],
                   'companyLocation': [],
                   'reviewText' : []})# starName = [str(i.text) for i in bsObject.find_all('span', {'class' : 'desc'})][0:5]; starName

for cpny in companies['종목명']:
    test = infoParser(company = cpny)
    adix = {'company' : test.company,
            'description': test.description(),
            'overallRating': test.overallRating(),
            'individualStar' : test.individualStar(),
            'reviewCount': test.reviewCount(),
            'industryCat': test.industryCategory(),
            'companyLocation' : test.companyLocation(),
            'reviewText' : test.reviewText()}
    
    df = df.append(adix, ignore_index = True)

In [35]:
df.sample(4)

    company  ...                                         reviewText
24   LG생활건강  ...  그나마 휴가는 자유롭게 쓸 수 있음30자 쓰라는데 더 장점을 못찾겠음 단점성과에 대...
407    비에이치  ...  관리직들은 좀자유롭게 근무시간에 휴식을 취할수있다.복지(수당)가 그나마 생산직이 좋...
256    보령제약  ...  장점? 인센 꽤 나옴. 월급 꽤 괜찮음. 그리고 없다  단점예전엔 그렇게 나쁘지 않...
162    티씨케이  ...  밥 맛있고 성과급 나오고 업무능력 성장시킬 수 있는 장점 단점근무지가 안성시골. 출...

[4 rows x 8 columns]

In [36]:
df = df[~df.description.isnull()]

In [37]:
df['overallRating'] = df.overallRating.apply(lambda x : re.sub('[a-zA-z]','',x))

In [38]:
df['careerImprovement'] = df.individualStar.apply(lambda x: x[0] if x else '')
df['workLifeBalance'] = df.individualStar.apply(lambda x: x[1] if x else '')
df['salaryWelfare'] = df.individualStar.apply(lambda x: x[2] if x else '')
df['workplaceCulture'] = df.individualStar.apply(lambda x: x[3] if x else '')
df['boardMembers'] = df.individualStar.apply(lambda x: x[4] if x else '')

In [39]:
df

     company  ... boardMembers
0       삼성전자  ...          2.6
1     SK하이닉스  ...          1.8
2     한국전력공사  ...            3
3         SK  ...          2.9
4    SK이노베이션  ...          3.3
..       ...  ...          ...
475  LG디스플레이  ...          2.3
476    S-Oil  ...          2.1
477     롯데쇼핑  ...          1.8
478    삼성중공업  ...          1.4
479    두산중공업  ...            2

[476 rows x 13 columns]

In [40]:
df['reviewCount'] = df['reviewCount'].apply(lambda x: re.sub('[a-zA-z가-힣]','',x) if x else '')
df['reviewCount'] = df['reviewCount'].apply(lambda x: x.replace(',','')).apply(lambda x: int(x) if x else 0)

In [41]:
df['repNouns'] = df.description.apply(lambda x: okt.nouns(x))

In [42]:
df['industry'] = df.industryCat.apply(lambda x: x.replace('업계','').replace('\n', ''))

In [45]:
df['companyLocation'] = df.companyLocation.apply(lambda x: x.replace('본사','').replace('\n',''))

In [47]:
df = df.drop(['description','individualStar','industryCat'], axis = 1)

In [48]:
df

     company  ...                 industry
0       삼성전자  ...        반도체/전자기기 제조업
1     SK하이닉스  ...        반도체/전자기기 제조업
2     한국전력공사  ...              국가/공공기관
3         SK  ...                  금융업
4    SK이노베이션  ...            석유정제품 제조업
..       ...  ...                      ...
475  LG디스플레이  ...        반도체/전자기기 제조업
476    S-Oil  ...            석유정제품 제조업
477     롯데쇼핑  ...               종합 소매업
478    삼성중공업  ...                  조선업
479    두산중공업  ...              건설/부동산업

[476 rows x 12 columns]

In [ ]:
secondary = df[['company','overallRating','repNouns']].explode('repNouns')

In [49]:
df.to_csv('/content/gdrive/MyDrive/dataset/JobMarket/completeList2.csv')

In [ ]:
secondary.to_csv('/content/gdrive/MyDrive/dataset/JobMarket/completeList_second.csv')