<a href="https://colab.research.google.com/github/woo2201/sampleCases/blob/reservior/Project_Euler.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 프로젝트 오일러

- 피보나치의 합

In [ ]:
lst = [1,2]
for i in range(2, 100000):
    val = (lst[i-2] + lst[i-1])
    if val >= 4000000:
        break    
    lst.append(val)

sum([i for i in lst if i % 2 == 0])

- 가장 큰 소인수 구하기

In [ ]:
lst = []
d = 2
x = 600851475143
while x >= d:
    if x % d == 0: # d로 딱 나뉘면...
        lst.append(d)
        x = x / d
    else:
        d = d + 1

max(lst)

6857

- 세자리를 곱해 만들 수 있는 가장 큰 대칭수

In [ ]:
for i in range(1000, 100, -1):
    for j in range(1000, 100, -1):
        val = i * j
        if str(val) == str(val)[::-1]:
            print(i, j)
            break;

- 1 ~ 20 사이의 어떤 수로도 나누어 떨어지는 가장 작은 수
    - 예시 : 1 ~ 10 사이의 어떤 수로도 나누어 떨어지는 가장 작은 수는 2520입니다.

In [ ]:
elem=[2]
for i in range(3,20):   
    for j in range(2,i):   
        if i%j==0:
            break
        elif j==i-1:
            elem.append(i)

In [ ]:
print(2*3*5*7 * 4* 3)

2520

# 얼른 마스크'씨 회사 전기자동차의 행복한 일련번호

행복 수는 각 자릿수의 제곱의 합으로 변환하는 과정을 반복할 때 언젠가는 1에 도달하는 수입니다.
예로, 13 → 1x1 + 3x3 = 10 → 1x1 + 0x0 = 1이므로 13은 행복 수입니다.

행복 수가 아닌 것은 슬픈(sad) 수 또는 불행(unhappy) 수라고 불립니다.
예로, 4 → 4x4 = 16 → 1x1 + 6x6 = 37 → 3x3 + 7x7 = 58 → ... → 4 로 순환하여 결코 1에 도달할 수 없으니 4는 슬픈 수입니다.

문제
'얼른 마스크'씨 회사 전기자동차의 일련번호가 될 수 있는 1 ~ 9999 범위의 행복 수는 모두 몇 개이고
그 총합은 얼마인지 구하는 프로그램을 작성해서 보내주세요 작성하세요.

입력
각 범위의 최댓값을 한 줄에 하나씩 입력으로 받습니다. 최종적으로 구하고자 하는 범위의 최댓값은 9999이므로 소스코드 안에 하드코딩 해도 됩니다.

In [ ]:
def func(test):
    return sum([int(i)**2 for i in str(test)])
    
successList = [] # val 이 행복수가 맞다면 여기에 들어갈거.
for val in range(1, 10000): # 10000 개 테스트 할거.
    temp = val
    while True:
        temp = func(temp)
        if temp == 1:
            successList.append(val)
            break
        elif temp == 4:
            break
        else:
            pass

In [ ]:
len(successList) * sum(successList)

10212466429

# 입력

암아존 배조스님의 은행 이체한도는 100조원으로 설정돼 있으므로 입력 금액의 범위는 1원에서 100조원까지입니다.
모든 금액은 천단위 구분자인 콤마가 표시돼있고 금액단위인 원으로 끝납니다.
예로 아래와 같은 입력이 가능하고 입력은 별도 파일에서 읽어와도 되고, 소스코드안에 포함시켜도 됩니다.
물론 UI를 만들어 사용자로부터 직접 입력 받아도 좋습니다.

1원
80,270원
111,111원
1,234,567,890원
100,000,000,000,000원

# 출력

각각의 입력에 대하여 만단위로 띄어쓰기 구분된 자연스러운 한글읽기를 출력합니다.
위 예의 출력은 다음과 같습니다.
일원
팔만 이백칠십원
십일만 천백십일원
십이억 삼천사백오십육만 칠천팔백구십원
백조원

In [ ]:
x = 80270
# 팔만 이백 칠십 원

In [ ]:
# 자리수 표현
10 ** (len(str(x)) - 1)

10000

In [ ]:
[int(v) * (10 ** (len(str(x)) - (i + 1))) for i,v in enumerate(list(str(x)))]

[80000, 0, 200, 70, 0]

In [ ]:
def num2kor(number, mode):

    if mode == 'headnumber':    
        number = str(number)
        if number == '0':
            return ''
        temp = [i for i in zip([str(i) for i in range(1, 10)],["일","이","삼","사","오","육","칠","팔","구"])]
        d = dict(temp)
        return d[number]

    if mode == 'digitnumber':    
        number = str(number)
        if number == '0':
            return ''
        if number == '1':
            return ''
        temp = [i for i in zip([str(10**i) for i in range(1, 15)],["십","백","천","만","십만","백만","천만","억", "십억", "백억","천억","조","십조","백조"])]    
        d = dict(temp)
        return d[number]

In [ ]:
# if (10**14)

def solution(number):

    if ((number >= (10**14)) | (number <= (10**0))):
        return print("out of boundary")

    headnumber = [int(v) for i,v in enumerate(list(str(number)))]
    digitnumber = [(10 ** (len(str(number)) - (i + 1))) for i,v in enumerate(list(str(number)))]


    korHead = [num2kor(number = i, mode = 'headnumber') for i in headnumber]
    kordigit = [num2kor(number = i, mode = 'digitnumber') for i in digitnumber]
    answer = [i[0]+i[1] for i in zip(korHead, kordigit) if i[0] != '']

    rslt = []
    for ans in answer:
        if ans.startswith('일') and len(ans) >= 2:
            ans = ans.replace('일', '')
            rslt.append(ans)
        else:
            rslt.append(ans)
    
    rslt.append('원')

    return ''.join(rslt)

In [ ]:
solution(95000000404918)

'구십조오조사십만사천구백십팔원'

In [ ]:
def num2kor(number, mode):

    if mode == 'headnumber':    
        number = str(number)
        if number == '0':
            return ''
        temp = [i for i in zip([str(i) for i in range(1, 10)],["일","이","삼","사","오","육","칠","팔","구"])]
        d = dict(temp)
        return d[number]

    if mode == 'digitnumber':    
        number = str(number)
        if number == '0':
            return ''
        if number == '1':
            return ''
        temp = [i for i in zip([str(10**i) for i in range(1, 15)],["십","백","천","만","십만","백만","천만","억", "십억", "백억","천억","조","십조","백조"])]    
        d = dict(temp)
        return d[number]

# 10,001 번째 소수

소수를 크기 순으로 나열하면 2, 3, 5, 7, 11, 13, ... 과 같이 됩니다.
이 때 10,001번째의 소수를 구하세요.

In [ ]:
def nthPrime(n):
    # To-do
    # 충분히 큰 크기(1000000 정도)를 가진 리스트를 생성하고
    # 에라토스테네스의 체를 사용해 n번째의 소수를 찾아 반환하세요.
    a = [False, False] + [True] * 999998
    Primes = []
    
    for i in range(2, 999998):
        if a[i]:
            Primes.append(i)
            for j in range(i+i, 999998, i):
                a[j] = False
    
    return Primes[n-1]

In [ ]:
nthPrime(10001)

104743

# 가장 긴 팰린드럼

 - 아무리 팰린드럼이 길어봤자, 문자열 최대 길이보다 짧다. 문자열 s의 길이 : 2,500 이하의 자연수이기 때문에 경우의수가 너무 많을 듯함. 그렇기 때문에

In [ ]:
# 효율성 미패스 ㅠㅠ
def palindrome(s):
    return True if s == s[::-1] else False

def solution(s):
    
    maxLength = len(s) 
        
    if palindrome(s):
        answer = maxLength
    
    else:
        for i in range(maxLength, 0, -1): # 10, 9, 8, 7,... 1
            for j in range(0, 10-i+1):
                if palindrome(s[j:i+j]) and len(s[j:i+j]) > 1:
                    answer = len(s[j:i+j])
                    break

    return answer

[0, 0, 1, 1, 1]

# LEETCODE

In [ ]:
nums = [2,7,11,15]
target = 9

In [ ]:
class Solution:
    def twoSum(self, nums: List[int], target: int) -> List[int]:
        
        for i in range(0, len(nums)):
            for j in range(i+1, len(nums)):
                if (nums[i] + nums[j]) == target:
                    answer = [i, j]
                    break
        
        return answer

In [ ]:
answer

[0, 1]

In [ ]:
from functools import reduce
reduce(lambda x, y: x*y, [1,2,3,4,5,6])

55

# 	1000자리 수 안에서 연속된 13개 숫자 곱의 최댓값

In [ ]:
val = "7316717653133062491922511967442657474235534919493496983520312774506326239578318016984801869478851843858615607891129494954595017379583319528532088055111254069874715852386305071569329096329522744304355766896648950445244523161731856403098711121722383113622298934233803081353362766142828064444866452387493035890729629049156044077239071381051585930796086670172427121883998797908792274921901699720888093776657273330010533678812202354218097512545405947522435258490771167055601360483958644670632441572215539753697817977846174064955149290862569321978468622482839722413756570560574902614079729686524145351004748216637048440319989000889524345065854122758866688116427171479924442928230863465674813919123162824586178664583591245665294765456828489128831426076900422421902267105562632111110937054421750694165896040807198403850962455444362981230987879927244284909188845801561660979191338754992005240636899125607176060588611646710940507754100225698315520005593572972571636269561882670428252483600823257530420752963450"

In [ ]:
from functools import reduce
answer = []
for i in range(0, len(val)-13-1):
    rslt = reduce(lambda x, y : x*y, [int(ele) for ele in val[i:i+13]])
    answer.append(rslt)

#	a + b + c = 1000 이 되는 피타고라스 수


세 자연수 a, b, c 가 피타고라스 정리 sqrt(a,2) + sqrt(b,2) = sqrt(c,2) 를 만족하면 피타고라스 수라고 부릅니다 (여기서 a < b < c ).
예를 들면 32 + 42 = 9 + 16 = 25 = 52이므로 3, 4, 5는 피타고라스 수입니다.

a + b + c = 1000 인 피타고라스 수 a, b, c는 한 가지 뿐입니다. 이 때, a × b × c 는 얼마입니까?

In [1]:
# a+b+c = 1000
# 1000 a + 1000 b - ab = 500000

maxNumber = 1000

for i in range(1, maxNumber + 1):
    for j in range(1, maxNumber + 1):
        if (maxNumber*i) + (maxNumber*j) - (i*j) == 500000:
            print(i, j)

200 375
375 200

In [4]:
200*375*425

31875000

# 이백만 이하 소수의 합

10 이하의 소수를 모두 더하면 2 + 3 + 5 + 7 = 17 이 됩니다.
이백만(2,000,000) 이하 소수의 합은 얼마입니까?

In [4]:
def primeNumbers(n):

    sieve = [True] * n

    maxNumber = int(n ** 0.5)
    for i in range(2, maxNumber + 1):
        if sieve[i] == True:
            for j in range(i+i, n, i):
                sieve[j] = False
    
    return [i for i in range(2, n) if sieve[i] == True]

In [7]:
sum(primeNumbers(2000000))

142913828922

# 20×20 격자에서 연속된 네 수의 곱 중 최댓값

In [11]:
arry = [['08','02','22','97','38','15','00','40','00','75','04','05','07','78','52','12','50','77','91','08'],
        ['49','49','99','40','17','81','18','57','60','87','17','40','98','43','69','48','04','56','62','00'],
        ['81','49','31','73','55','79','14','29','93','71','40','67','53','88','30','03','49','13','36','65'],
        ['52','70','95','23','04','60','11','42','69','24','68','56','01','32','56','71','37','02','36','91'],
        ['22','31','16','71','51','67','63','89','41','92','36','54','22','40','40','28','66','33','13','80'],
        ['24','47','32','60','99','03','45','02','44','75','33','53','78','36','84','20','35','17','12','50'],
        ['32','98','81','28','64','23','67','10','26','38','40','67','59','54','70','66','18','38','64','70'],
        ['67','26','20','68','02','62','12','20','95','63','94','39','63','08','40','91','66','49','94','21'],
        ['24','55','58','05','66','73','99','26','97','17','78','78','96','83','14','88','34','89','63','72'],
        ['21','36','23','09','75','00','76','44','20','45','35','14','00','61','33','97','34','31','33','95'],
        ['78','17','53','28','22','75','31','67','15','94','03','80','04','62','16','14','09','53','56','92'],
        ['16','39','05','42','96','35','31','47','55','58','88','24','00','17','54','24','36','29','85','57'],
        ['86','56','00','48','35','71','89','07','05','44','44','37','44','60','21','58','51','54','17','58'],
        ['19','80','81','68','05','94','47','69','28','73','92','13','86','52','17','77','04','89','55','40'],
        ['04','52','08','83','97','35','99','16','07','97','57','32','16','26','26','79','33','27','98','66'],
        ['88','36','68','87','57','62','20','72','03','46','33','67','46','55','12','32','63','93','53','69'],
        ['04','42','16','73','38','25','39','11','24','94','72','18','08','46','29','32','40','62','76','36'],
        ['20','69','36','41','72','30','23','88','34','62','99','69','82','67','59','85','74','04','36','16'],
        ['20','73','35','29','78','31','90','01','74','31','49','71','48','86','81','16','23','57','05','54'],
        ['01','70','54','71','83','51','54','69','16','92','33','48','61','43','52','01','89','19','67','48']]

In [37]:
cnt = 0
answer = []

for i in range(cnt, cnt + 4):
    if cnt != 17:
        answer = answer.append(np.sum([int(arry[i][i]),
                                       int(arry[i+1][i]),
                                       int(arry[i+2][i]), 
                                       int(arry[i+3][i])]))
        print({i : np.sum( [int(arry[i][i]),
                        int(arry[i+1][i]),
                        int(arry[i+2][i]),
                        int(arry[i+3][i]) ])})
        cnt = cnt + 1
    else:
        break;

{0: 190}

AttributeError: ignored

In [34]:
int(arry[0][0])

8