<a href="https://colab.research.google.com/github/woo2201/sampleCases/blob/reservior/PS_practice_v2.0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PS 정리 파일

- ** 이 붙은 리스트는 재검토가 필요한 파일임.

# LV.1 : 콜라츠 추측

1937년 Collatz란 사람에 의해 제기된 이 추측은, 주어진 수가 1이 될때까지 다음 작업을 반복하면, 모든 수를 1로 만들 수 있다는 추측입니다. 작업은 다음과 같습니다.

    1-1. 입력된 수가 짝수라면 2로 나눕니다. 
    1-2. 입력된 수가 홀수라면 3을 곱하고 1을 더합니다.
    2. 결과로 나온 수에 같은 작업을 1이 될 때까지 반복합니다.

예를 들어, 입력된 수가 6이라면 6→3→10→5→16→8→4→2→1 이 되어 총 8번 만에 1이 됩니다. 위 작업을 몇 번이나 반복해야하는지 반환하는 함수, solution을 완성해 주세요. 단, 작업을 500번을 반복해도 1이 되지 않는다면 –1을 반환해 주세요.

In [ ]:
def solution(num):
    totalCount = 0
    while num > 1:
    
        if totalCount >= 500:
            return -1

        if num % 2 == 0:
            num = num / 2
            totalCount += 1
        else:
            num = num * 3 + 1
            totalCount += 1
    

    return totalCount

#LV.2 : 피보나치 수열

피보나치 수는 F(0) = 0, F(1) = 1일 때, 1 이상의 n에 대하여 F(n) = F(n-1) + F(n-2) 가 적용되는 수 입니다.

In [ ]:
def fibonacci(n):
    if n in {0, 1}:  # Base case
        return n
    return fibonacci(n - 1) + fibonacci(n - 2)  # Recursive case

## 해시 관련

해시는 그냥 Dictionary 로 생각하면 된다.

# LV.1 : 완주하지 못한 녀석들

In [ ]:
participant = ["leo", "kiki", "eden"]
completion = ["eden", "kiki"]
answer ="leo"

In [ ]:
def solution(participant, completion):
    dict = {}
    for i in participant:
        dict[i] = dict.get(i, 0) + 1

    for j in completion:
        dict[j] = (dict[j] - 1)

    return [i for i in dict if dict[i] >= 1][0]

# LV.2 : 전화번호 목록

전화번호부에 적힌 전화번호 중, 한 번호가 다른 번호의 접두어인 경우가 있는지 확인하려 합니다.
전화번호가 다음과 같을 경우, 구조대 전화번호는 영석이의 전화번호의 접두사입니다.

    구조대 : 119
    박준영 : 97 674 223
    지영석 : 11 9552 4421

전화번호부에 적힌 전화번호를 담은 배열 phone_book 이 solution 함수의 매개변수로 주어질 때, 어떤 번호가 다른 번호의 접두어인 경우가 있으면 false를 그렇지 않으면 true를 return 하도록 solution 함수를 작성해주세요.

In [ ]:
phone_book = ["119", "97674223", "1195524421"]

In [ ]:
def solution(phone_book):
    dict = {}
    for phone in phone_book:
        dict[phone] = 1

    for phone in phone_book:
        temp = ""
        for alphabet in phone:
            temp = temp + alphabet
            if temp in dict and temp != phone:
                return False
        
    return True

# LV.2 : 위장

스파이가 가진 의상들이 담긴 2차원 배열 clothes가 주어질 때 서로 다른 옷의 조합의 수를 return 하도록 solution 함수를 작성해주세요.

In [ ]:
clothes = [["yellowhat", "headgear"], ["bluesunglasses", "eyewear"], ["green_turban", "headgear"]]
answer = 5

In [ ]:
from collections import defaultdict

def solution(clothes):

    dict = defaultdict(list)
    for lst in clothes:
        type = lst[1]
        item = lst[0]
        dict[type].append(item)

    answer = 1
    for i in dict.values():
        answer = answer * (len(i) + 1) # 리스트 길이가 2 일땐, [안입는거, 1개 입는거, 2개입는거] 이렇게 가능하니까.

    return answer - 1 # 하나는 무조건 입어야하니까. 0 0 0 케이스를 제거해주는 것.

#LV.4 : 베스트 앨범

스트리밍 사이트에서 장르 별로 가장 많이 재생된 노래를 두 개씩 모아 베스트 앨범을 출시하려 합니다. 노래는 고유 번호로 구분하며, 노래를 수록하는 기준은 다음과 같습니다.

속한 노래가 많이 재생된 장르를 먼저 수록합니다.
장르 내에서 많이 재생된 노래를 먼저 수록합니다.
장르 내에서 재생 횟수가 같은 노래 중에서는 고유 번호가 낮은 노래를 먼저 수록합니다.
노래의 장르를 나타내는 문자열 배열 genres와 노래별 재생 횟수를 나타내는 정수 배열 plays가 주어질 때, 베스트 앨범에 들어갈 노래의 고유 번호를 순서대로 return 하도록 solution 함수를 완성하세요.

    genres[i]는 고유번호가 i인 노래의 장르입니다.
    plays[i]는 고유번호가 i인 노래가 재생된 횟수입니다.
    genres와 plays의 길이는 같으며, 이는 1 이상 10,000 이하입니다.
    장르 종류는 100개 미만입니다.
    장르에 속한 곡이 하나라면, 하나의 곡만 선택합니다.
    모든 장르는 재생된 횟수가 다릅니다.

In [ ]:
genres = ["classic", "pop", "classic", "classic", "pop"]
plays = [500, 600, 150, 800, 2500]
answer = [4, 1, 3, 0]

In [ ]:
idx = [i for i in range(0, len(genres))]

In [ ]:
from collections import defaultdict
from operator import itemgetter # sort by second 

d1 = defaultdict(list)
d2 = defaultdict(list)

for genre, play, id in zip(genres, plays, idx):
    d1[genre].append(play) # 장르 별로 가장 많이 재생된 노래를 두 개씩 모아 베스트 앨범을 출시
    d2[genre].append(id)

In [ ]:
[sorted((play,id), key = itemgetter(0), reverse = True) for play, id in zip(d1.values(), d2.values())]

[[[500, 150, 800], [0, 2, 3]], [[600, 2500], [1, 4]]]

In [ ]:
sum_d = {}
for item, value in d.items():
    sum_d[item] = sum(value)

music_order = sorted(sum_d, key = itemgetter(1), reverse = True)

classic 500 0
pop 600 1
classic 150 2
classic 800 3
pop 2500 4

# LV.2 : 순간이동

OO 연구소는 한 번에 K 칸을 앞으로 점프하거나, (현재까지 온 거리) x 2 에 해당하는 위치로 순간이동을 할 수 있는 특수한 기능을 가진 아이언 슈트를 개발하여 판매하고 있습니다. 이 아이언 슈트는 건전지로 작동되는데, 순간이동을 하면 건전지 사용량이 줄지 않지만, 앞으로 K 칸을 점프하면 K 만큼의 건전지 사용량이 듭니다. 그러므로 아이언 슈트를 착용하고 이동할 때는 순간 이동을 하는 것이 더 효율적입니다. 아이언 슈트 구매자는 아이언 슈트를 착용하고 거리가 N 만큼 떨어져 있는 장소로 가려고 합니다. 단, 건전지 사용량을 줄이기 위해 점프로 이동하는 것은 최소로 하려고 합니다. 아이언 슈트 구매자가 이동하려는 거리 N이 주어졌을 때, 사용해야 하는 건전지 사용량의 최솟값을 return하는 solution 함수를 만들어 주세요.

In [ ]:
def solution(n):
    return format(5, "b").count('1') # 2, 4, 8, 16 등... 현재 온거리의 2를 곱할 수 있음. 그리고 남는 1의

# LEETCODE : Contains Duplicates ?

In [ ]:
class Solution:
    def containsDuplicate(self, nums: List[int]) -> bool:
        return False if len(set(nums)) == len(nums) else True # 너무쉽고

# LEETCODE : Is Anagram ?

In [ ]:
class Solution:
    def isAnagram(self, s: str, t: str) -> bool:
        answer = sorted([i for i in s]) == sorted([j for j in t])

        return answer

#        return Counter(s) == Counter(t) much faster.

# LEETCODE : TWO SUM

In [ ]:
nums = [2,7,11,15]
target = 9
answer = [0, 1]

In [ ]:
dict = {val: idx for idx, val in enumerate(nums)}
answer = []
for idx, val in enumerate(nums):
    diff = target - val
    if diff in nums:
        print([dict[diff], idx])

[1, 0]
[0, 1]

In [ ]:
answer

[0, 1]

# LEETCODE : Product of Array Except Self **

In [5]:
nums = [1,2,3,4]
answer = [24,12,8,6]

# nums = [-1,1,0,-3,3]
# answer = [0,0,9,0,0]

In [6]:
# Takes more than 0(n). So new solution required.

import numpy as np
[np.prod([j for j in nums if j != i]) for i in nums]

[24, 12, 8, 6]

In [19]:
nums = [1,2,3,4]
N = len(nums) # nums 길이
out = [1] * N # [1,1,1,1,1] # We don't really need the scalar 'right', but I think it will save us on array dereferences

right = 1
for n in reversed(range(N)):
    out[n] = right
    right = right * nums[n] #  [24, 12, 4, 1]

left = 1
for n in range(N):
    out[n] = out[n] * left
    left = left * nums[n] # [24, 12, 8, 6], [1, 1, 2, 6]

# LEETCODE : Valid Palindrome - TWO POINTERS

In [28]:
class Solution:
    def isPalindrome(self, s: str) -> bool:
        if isinstance(s, str):

            s = ''.join([letter for letter in s if letter.isalnum()]).lower()
            return True if s[::-1] == s else False

# LEETCODE : Best Time To Buy and Sell Stocks

In [38]:
prices = [7,1,5,3,6,4]

# 1에서 사서 6에 파는게 베스트.
# 1에 사서 7에 파는건 안됨. 시간 순서

In [58]:
empty = []
for p in range(len(prices)-1):
    if prices[p] <= prices[p+1]:
        empty.append(prices[p])
        empty.append(prices[p+1])

max_stock = max(empty)
min_stock = min(empty)

max_stock - min_stock
#prices.index(max_stock) - prices.index(min_stock)

In [64]:
max_stock = max(empty)
min_stock = min(empty)

max_stock - min_stock
#prices.index(max_stock) - prices.index(min_stock)

5

# 오일러 프로젝트

In [36]:
s = "A man, a plan, a canal: Panama"

''.join([letter for letter in s if letter.isalnum()])

AttributeError: ignored

In [72]:
test = []

if not test:
    print('hi')

hi