<a href="https://colab.research.google.com/github/woo2201/ColabDrive/blob/reservior/PyCrypto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pyupbit

Collecting pyupbit
  Downloading pyupbit-0.2.23-py3-none-any.whl (21 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pyupbit) (1.3.5)
Collecting websockets==9.1
  Downloading websockets-9.1-cp37-cp37m-manylinux2010_x86_64.whl (103 kB)
     |████████████████████████████████| 103 kB 40.2 MB/s
Collecting pyjwt>=2.0.0
  Downloading PyJWT-2.3.0-py3-none-any.whl (16 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from pyupbit) (2.23.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pyupbit) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pyupbit) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pyupbit) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pyupbit) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->pyupbit) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->pyupbit) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->pyupbit) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->pyupbit) (2.10)
Installing collected packages: websockets, pyjwt, pyupbit
Successfully installed pyjwt-2.3.0 pyupbit-0.2.23 websockets-9.1

In [2]:
import pyupbit
import pandas as pd
import numpy as np
import scipy as scp
import math

print(pyupbit.Upbit)

<class 'pyupbit.exchange_api.Upbit'>

In [4]:
tickers = pyupbit.get_tickers(fiat="KRW")
tickers[:5]

['KRW-BTC', 'KRW-ETH', 'KRW-NEO', 'KRW-MTL', 'KRW-LTC']

In [5]:
pyupbit.get_current_price("KRW-XRP")

941.0

In [6]:
pyupbit.get_ohlcv("KRW-XRP", interval="minute1", count = 10)

                      open   high    low  close         volume         value
2022-02-07 23:31:00  938.0  939.0  937.0  937.0  465707.395781  4.366986e+08
2022-02-07 23:32:00  938.0  942.0  938.0  941.0  650492.046163  6.117199e+08
2022-02-07 23:33:00  940.0  942.0  938.0  938.0  341340.588598  3.209765e+08
2022-02-07 23:34:00  938.0  939.0  936.0  937.0  525632.936743  4.924060e+08
2022-02-07 23:35:00  937.0  938.0  936.0  938.0  290811.572900  2.724881e+08
2022-02-07 23:36:00  937.0  940.0  937.0  939.0  230926.412508  2.168398e+08
2022-02-07 23:37:00  939.0  940.0  938.0  939.0  154236.833642  1.448439e+08
2022-02-07 23:38:00  939.0  941.0  938.0  940.0  503322.824518  4.727739e+08
2022-02-07 23:39:00  940.0  942.0  939.0  940.0  625210.568526  5.881952e+08
2022-02-07 23:40:00  940.0  942.0  940.0  941.0  171532.980258  1.614778e+08

In [8]:
askbid = pyupbit.get_orderbook("KRW-XRP")['orderbook_units']
for info in askbid:
    print(info)

{'ask_price': 943.0, 'bid_price': 942.0, 'ask_size': 130595.0077498, 'bid_size': 68332.17203607}
{'ask_price': 944.0, 'bid_price': 941.0, 'ask_size': 211975.73051741, 'bid_size': 161408.74853552}
{'ask_price': 945.0, 'bid_price': 940.0, 'ask_size': 204695.77678869, 'bid_size': 81772.22768447}
{'ask_price': 946.0, 'bid_price': 939.0, 'ask_size': 309580.66824494, 'bid_size': 82206.53905234}
{'ask_price': 947.0, 'bid_price': 938.0, 'ask_size': 295959.78305345, 'bid_size': 184933.56604984}
{'ask_price': 948.0, 'bid_price': 937.0, 'ask_size': 499823.00544179, 'bid_size': 144512.90787905}
{'ask_price': 949.0, 'bid_price': 936.0, 'ask_size': 440294.93412514, 'bid_size': 212458.92096905}
{'ask_price': 950.0, 'bid_price': 935.0, 'ask_size': 546139.04585355, 'bid_size': 544403.6796783}
{'ask_price': 951.0, 'bid_price': 934.0, 'ask_size': 301090.69130774, 'bid_size': 106958.57480473}
{'ask_price': 952.0, 'bid_price': 933.0, 'ask_size': 170396.24479523, 'bid_size': 95471.44192067}
{'ask_price': 953.0, 'bid_price': 932.0, 'ask_size': 199518.04250443, 'bid_size': 170856.356038}
{'ask_price': 954.0, 'bid_price': 931.0, 'ask_size': 130593.4160647, 'bid_size': 205909.32481921}
{'ask_price': 955.0, 'bid_price': 930.0, 'ask_size': 486697.60849223, 'bid_size': 460376.83178848}
{'ask_price': 956.0, 'bid_price': 929.0, 'ask_size': 130041.95176629, 'bid_size': 79304.67242245}
{'ask_price': 957.0, 'bid_price': 928.0, 'ask_size': 190396.96809272, 'bid_size': 125803.75911909}

In [9]:
pd.DataFrame.from_dict(askbid)

    ask_price  bid_price       ask_size       bid_size
0       943.0      942.0  130595.007750   68332.172036
1       944.0      941.0  211975.730517  161408.748536
2       945.0      940.0  204695.776789   81772.227684
3       946.0      939.0  309580.668245   82206.539052
4       947.0      938.0  295959.783053  184933.566050
5       948.0      937.0  499823.005442  144512.907879
6       949.0      936.0  440294.934125  212458.920969
7       950.0      935.0  546139.045854  544403.679678
8       951.0      934.0  301090.691308  106958.574805
9       952.0      933.0  170396.244795   95471.441921
10      953.0      932.0  199518.042504  170856.356038
11      954.0      931.0  130593.416065  205909.324819
12      955.0      930.0  486697.608492  460376.831788
13      956.0      929.0  130041.951766   79304.672422
14      957.0      928.0  190396.968093  125803.759119

In [ ]:
# 전략에 대해서 생각해보자.
# 체결강도 주식 매수체결량을 주식 매도체결량으로 나눈 값에 숫자 100을 곱하여 계산하고 표현합니다. 따라서, 체결강도가 100이라는 의미는 매수체결량과 매도체결량이 같다는 의미라고 할 수 있습니다
# 체결강도가 


#

In [10]:
def get_movingAverage(ticker, rtn = 10):  

    df = pyupbit.get_ohlcv(ticker, interval='day')

    ma3.extend(df['close'])  # ma3변수에 종가 삽입.  
    ma5.extend(df['close'])    
    ma10.extend(df['close'])    

    curr_ma3 = sum(ma3) / len(ma3) # 3일 이평선  
    curr_ma5 = sum(ma5) / len(ma5)   
    curr_ma10 = sum(ma10) / len(ma10)   

    print(f'Ticker: {ticker} MA(3): {round(curr_ma3,2)}, MA(5): {round(curr_ma5,2)}, MA(10): {round(curr_ma10,2)}') 

    if rtn == 10:
        return curr_ma10
    elif rtn == 5:
        return curr_ma5
    else: return curr_ma3

In [ ]:
if pyupbit.get_current_price("KRW-XRP") >= get_movingAverage('KRW-XRP', rtn = 5):
    print(0)

Ticker: KRW-XRP MA(3): 848.67, MA(5): 818.8, MA(10): 788.7
0

In [ ]:
from collections import deque

ma3 = deque(maxlen=3)
ma5 = deque(maxlen=5)
ma10 = deque(maxlen=10)

tickers = pyupbit.get_tickers(fiat = 'KRW')[:10]

for ticker in tickers:
    get_movingAverage(ticker)

Ticker: KRW-BTC MA(3): 50816666.67, MA(5): 48760400.0, MA(10): 47977000.0
Ticker: KRW-ETH MA(3): 3673333.33, MA(5): 3526200.0, MA(10): 3397100.0
Ticker: KRW-NEO MA(3): 27173.33, MA(5): 26224.0, MA(10): 25183.0
Ticker: KRW-MTL MA(3): 2123.33, MA(5): 2066.0, MA(10): 1960.0
Ticker: KRW-LTC MA(3): 149333.33, MA(5): 143580.0, MA(10): 140215.0
Ticker: KRW-XRP MA(3): 812.33, MA(5): 785.4, MA(10): 773.6
Ticker: KRW-ETC MA(3): 36206.67, MA(5): 35048.0, MA(10): 33342.0
Ticker: KRW-OMG MA(3): 6195.0, MA(5): 6020.0, MA(10): 6000.0
Ticker: KRW-SNT MA(3): 67.5, MA(5): 65.16, MA(10): 63.26
Ticker: KRW-WAVES MA(3): 12180.0, MA(5): 11596.0, MA(10): 11668.0