<a href="https://colab.research.google.com/github/woo2201/sampleCases/blob/reservior/SpaceTitanic_ModelDiversity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
cd /content/drive/MyDrive/dataset/SpaceTitanic/

/content/drive/MyDrive/dataset/SpaceTitanic

In [9]:
import glob
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

In [8]:
path = "/content/drive/MyDrive/dataset/SpaceTitanic/"
filenames = glob.glob(path + "*.csv")
data = [var.split('.')[0].split('/')[-1] for var in filenames]

# dynamically allocate df names.
df_list = []
for name in zip(filenames, data):
    loc = list(name)[0]
    val = list(name)[1]
    if not val.startswith('HomeCredit'):
        df_list.append(val)
        globals()[val] = pd.read_csv(loc) # encoding = 'ISO-8859-1'

In [12]:
train.sample(7)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
1055,1129_01,Earth,False,E/80/S,TRAPPIST-1e,28.0,False,2.0,0.0,0.0,787.0,3.0,Ritany Bellyonsley,False
7452,7974_01,Europa,False,C/259/P,TRAPPIST-1e,27.0,False,0.0,2318.0,1127.0,2423.0,115.0,Azim Geatenth,False
7630,8147_03,Earth,False,G/1317/P,TRAPPIST-1e,42.0,False,18.0,5.0,470.0,356.0,57.0,Jeroy Pittler,False
1409,1490_01,Europa,False,D/47/P,55 Cancri e,26.0,False,0.0,304.0,0.0,3998.0,NaN,Caphird Crioncery,False
1382,1452_05,Europa,True,C/53/P,55 Cancri e,44.0,False,0.0,0.0,0.0,0.0,0.0,Gimph Distured,True
2148,2303_01,Mars,False,F/468/P,55 Cancri e,52.0,False,1377.0,0.0,32.0,22.0,0.0,Beal Chort,True
5379,5746_01,Earth,False,G/932/S,TRAPPIST-1e,19.0,False,0.0,NaN,0.0,5381.0,139.0,Rica Vandan,False

In [13]:
test.sample(7)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
1969,4247_02,Earth,False,F/878/P,TRAPPIST-1e,21.0,False,0.0,0.0,0.0,619.0,42.0,Dandy Guerson
2057,4439_01,Mars,True,E/289/S,TRAPPIST-1e,54.0,False,0.0,NaN,0.0,0.0,0.0,Cranch Cooki
3318,7266_01,Earth,False,G/1182/S,TRAPPIST-1e,19.0,False,0.0,0.0,39.0,449.0,321.0,Dorie Lardy
3916,8538_01,Mars,NaN,F/1644/S,TRAPPIST-1e,28.0,False,2585.0,0.0,4.0,2.0,7.0,Hoow Bla
3961,8630_01,Mars,False,F/1771/P,NaN,25.0,False,292.0,0.0,1322.0,0.0,0.0,Lidenx Mad
2007,4321_01,Mars,True,F/809/S,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,Hoce Ecate
4110,8929_01,Earth,False,F/1724/S,TRAPPIST-1e,59.0,False,0.0,638.0,0.0,312.0,603.0,Janee Reyersendry

In [21]:
(train.shape[0] == train.PassengerId.nunique(), test.shape[0] == test.PassengerId.nunique())

(True, True)

In [23]:
train.HomePlanet.value_counts()

Earth     4602
Europa    2131
Mars      1759
Name: HomePlanet, dtype: int64

In [24]:
train.CryoSleep.value_counts()

False    5439
True     3037
Name: CryoSleep, dtype: int64

In [25]:
train.Cabin.value_counts()

G/734/S     8
G/109/P     7
B/201/P     7
G/1368/P    7
G/981/S     7
           ..
G/556/P     1
E/231/S     1
G/545/S     1
G/543/S     1
F/947/P     1
Name: Cabin, Length: 6560, dtype: int64

In [26]:
train[train.Cabin == 'G/734/S']

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
4221,4498_01,Earth,False,G/734/S,55 Cancri e,11.0,False,0.0,0.0,0.0,0.0,0.0,Valex Munozanson,False
4222,4498_02,Earth,True,G/734/S,PSO J318.5-22,14.0,False,0.0,0.0,0.0,0.0,0.0,Loise Beckeetter,False
4223,4498_03,Earth,True,G/734/S,PSO J318.5-22,4.0,False,0.0,0.0,0.0,0.0,0.0,Lorie Beckeetter,True
4224,4498_04,Earth,False,G/734/S,TRAPPIST-1e,11.0,False,0.0,0.0,0.0,0.0,NaN,Dandy Munozanson,False
4225,4498_05,Earth,True,G/734/S,TRAPPIST-1e,31.0,False,0.0,0.0,0.0,0.0,0.0,Karay Beckeetter,True
4226,4498_06,Earth,False,G/734/S,TRAPPIST-1e,15.0,False,0.0,893.0,0.0,0.0,0.0,Line Munozanson,True
4227,4498_07,Earth,False,G/734/S,TRAPPIST-1e,39.0,False,0.0,2.0,0.0,69.0,836.0,Dary Mallerez,False
4228,4498_08,Earth,False,G/734/S,TRAPPIST-1e,7.0,False,0.0,0.0,0.0,0.0,0.0,Kendy Munozanson,False

Same Cabin but why the hell they have different destinations?
perhaps, PassengersId-prefix does not have to be precisely family members?

In [27]:
train.Destination.value_counts()

TRAPPIST-1e      5915
55 Cancri e      1800
PSO J318.5-22     796
Name: Destination, dtype: int64

In [30]:
train.VIP.value_counts()

False    8291
True      199
Name: VIP, dtype: int64

In [34]:
train[['Age', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']].describe()

               Age     FoodCourt  ShoppingMall           Spa        VRDeck
count  8514.000000   8510.000000   8485.000000   8510.000000   8505.000000
mean     28.827930    458.077203    173.729169    311.138778    304.854791
std      14.489021   1611.489240    604.696458   1136.705535   1145.717189
min       0.000000      0.000000      0.000000      0.000000      0.000000
25%      19.000000      0.000000      0.000000      0.000000      0.000000
50%      27.000000      0.000000      0.000000      0.000000      0.000000
75%      38.000000     76.000000     27.000000     59.000000     46.000000
max      79.000000  29813.000000  23492.000000  22408.000000  24133.000000

In [39]:
pd.crosstab(train.HomePlanet, train.Destination)

Destination  55 Cancri e  PSO J318.5-22  TRAPPIST-1e
HomePlanet
Earth                690            712         3101
Europa               886             19         1189
Mars                 193             49         1475

In [40]:
pd.crosstab(train.VIP, train.Destination)

Destination  55 Cancri e  PSO J318.5-22  TRAPPIST-1e
VIP
False               1692            756         5667
True                  65             18          114

In [50]:
train['Psng_grp_1'] = train.PassengerId.str.split("_").apply(lambda x: x[0])
train['Psng_grp_2'] = train.PassengerId.str.split("_").apply(lambda x: x[1])

In [52]:
train.groupby(['Psng_grp_1']).size()

Psng_grp_1
0001    1
0002    1
0003    2
0004    1
0005    1
       ..
9275    3
9276    1
9278    1
9279    1
9280    2
Length: 6217, dtype: int64

XGBOOST only takes numerical values and is not able to measure the distance between any order-based values.