<a href="https://colab.research.google.com/github/woo2201/ColabDrive/blob/reservior/JobMarket_visualization_modified.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
cd /content/gdrive/MyDrive/dataset/JobMarket/

/content/gdrive/MyDrive/dataset/JobMarket

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from urllib.request import urlopen
from bs4 import BeautifulSoup
import requests
import lxml
import re
import html
import urllib

In [11]:
companies = pd.read_csv('Top_modified5002.csv')

In [13]:
class infoParser:
    def __init__(self, company):
        self.company = company
        try:
            self.html = urlopen("https://www.teamblind.com/kr/company/" + urllib.parse.quote(self.company))  
            self.bsObject = BeautifulSoup(self.html, "html.parser", from_encoding='utf-8')
        except urllib.error.HTTPError as err:
            pass     

    def description(self):
        try:
            val = self.bsObject.find('div', {"class":"desc all"}).text
        except AttributeError as e:
            return None
        return val

    def overallRating(self):
        try:
            val = self.bsObject.find('span', {"class" : "star"}).text
        except AttributeError as e:
            return None
        return val

    def individualStar(self):
        try:
            val = [float(i.text) for i in self.bsObject.find_all('strong',{'class' : "star"})]
        except AttributeError as e:
            return None
        return val
    
    def reviewCount(self):
        try:
            val = self.bsObject.find('em',{'class' : "count"}).text
        except AttributeError as e:
            return None
        return val

In [14]:
df = pd.DataFrame({'company' : [],
                   'description': [],
                   'overallRating': [],
                   'individualStar' : [],
                   'reviewCount': []})  # starName = [str(i.text) for i in bsObject.find_all('span', {'class' : 'desc'})][0:5]; starName

for cpny in companies['종목명']:
    test = infoParser(company = cpny)
    adix = {'company' : test.company,
            'description': test.description(),
            'overallRating': test.overallRating(),
            'individualStar' : test.individualStar(),
            'reviewCount': test.reviewCount()}
    
    df = df.append(adix, ignore_index = True)

TypeError: ignored

     company  ... reviewCount
0       삼성전자  ...   7,097개 리뷰
1     SK하이닉스  ...   3,277개 리뷰
2     한국전력공사  ...   1,668개 리뷰
3         SK  ...      14개 리뷰
4    SK이노베이션  ...     729개 리뷰
..       ...  ...         ...
485  LG디스플레이  ...   1,659개 리뷰
486    S-Oil  ...     212개 리뷰
487     롯데쇼핑  ...     807개 리뷰
488    삼성중공업  ...     746개 리뷰
489    두산중공업  ...     454개 리뷰

[490 rows x 5 columns]

In [181]:
df.to_csv("/content/gdrive/MyDrive/dataset/JobMarket/completeList.csv") # for back up

In [183]:
df.sample(5)

    company  ... reviewCount
439    메드팩토  ...       2개 리뷰
395    알서포트  ...      91개 리뷰
167    한국카본  ...      37개 리뷰
357    크래프톤  ...     201개 리뷰
2    한국전력공사  ...   1,668개 리뷰

[5 rows x 5 columns]

In [188]:
from konlpy.tag import Okt
okt = Okt()

In [189]:
okt.nouns('안녕하십니까, 대선 4자 가상 대결입니다')

['안녕하십니까', '대선', '자', '가상', '대결']

In [208]:
pd.DataFrame(df[df.description.isnull()].company[30:]).to_csv("/content/gdrive/MyDrive/dataset/JobMarket/wrongnames.csv")

In [ ]:
솔브레인홀딩스 -> 솔브레인 5
KB금융 -> KB금융지주 6
신한지주 -> 신한금융지주회사 8
삼성화재 -> 삼성화재해상보험 17
엔씨소프트 -> NCSOFT 23
우리금융지주 ->
미래에셋증권 -> 미래에셋대우
현대차 -> 현대자동차
DL -> DL이앤씨
금호석유 -> 금호석유화학
메리츠증권 -> 메리츠종금증권
현대해상 -> 현대해상화재보험
삼성에스디에스 -> 삼성SDS
BNK금융지주 -> BNK투자증권
코오롱인더 -> 코오롱인더스트리
한국금융지주 -> 한국투자증권
서울가스 -> 서울도시가스
코리안리 -> 코리안리재보험
KCC글라스 -> KCC
한국콜마홀딩스 -> 한국콜마
동양생명 -> 동양생명보험
에스에프에이 -> SFA
LS ELECTRIC - > LS일렉트릭

현대중공업지주 -> 현대중공업
한국항공우주 -> 한국항공우주산업
쿠쿠홈시스 -> 쿠쿠전자
웹젠
우리종금
SK디앤디
HMM